{% extends'base-ala.html.twig' %}
{% block formulaire %}
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Ajouter Activité</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {{ form_start(Form) }}

            {{ form_end(Form) }}
            <!-- /.box-body
            <div class="box-footer">

                <button type="submit" class="btn btn-info pull-right">Ajouter</button>
            </div>-->
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
{% endblock %}
