{% extends 'base-rchid.html.twig' %}
{% block container %}

    <section class="content-header">

        <h1 align="center">Bienvenu au site web <img src="{{asset('img/logoo2.png')}}"  ></h1>
        </img>
        <p align="center"><img src=""></p>

        <p align="center"><img src="{{asset('img/enfant.png')}}"height="352" width="470" ></p>
        <p align="center"><img src=""></p>
        <h1 align="center">Votre Enfant .....Notre Priorité</h1>
    </section>

{% endblock %}