{% extends'base-said.html.twig' %}
{% block boxheader %}
    <div class="box-header">
        <h3 class="box-title">Profil Medicale</h3>
    </div>
{% endblock %}
{% block formulaire %}
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Ajouter Profil Médicale</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            {{ form_start(Form,{'attr': {'novalidate':'novalidate'}} ) }}
            {% if Form.vars.value.enfant is not null %}
            {{ Form.vars.value.enfant.nom }}
            {% endif %}
            {{ form_end(Form) }}
        </div>
    </div>
    <!-- /.box -->
{% endblock %}
