{% extends 'HomepageF.html.twig' %}

{% block body %}
    <html>
    <head>
        <script src="jquery-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    </head>

    <body>
    <h3 id="h3">Ajouter un Participant</h3>
    <div class="box-body">
    <table id="doctors" class="table table-bordered table-hover">
    <thead>


    {#<button id="hide"> hide</button>#}

    {{ form_start(form) }}
    {{ form_end(form) }}


    </form>
    </thead> </table> </div>
    </body>
    </html>

    <script>
        $(document).ready(function() {

            $("#hide").click(function () {
                $("#h3").hide();
            })
        })
    </script>



{% endblock %}

