{% extends 'HomepageF.html.twig' %}

{% block body %}
    <h3>Ajouter un Participant</h3>
    <div class="box-body">
        <table id="doctors" class="table table-bordered table-hover">
            <thead>

            {{ form_start(form) }} {{ form_end(form) }}

            </thead> </table> </div>
{% endblock %}